@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital,wght@0,400;1,400&display=swap');
@import "tailwindcss";

@theme {
  --color-brand: #00C08B;
  --color-brand-dark: #059669;
  --color-brand-light: #F0FDFA;
  --font-serif: "Crete Round", serif;
}
